<!DOCTYPE html>
<html lang="en">
<!--
        Ivan Webber
        HTML for CS 372 Project
        Describes a to-do webapp
    -->

<head>
  <title>Tasks</title>
  <link href="/tasks.css" type="text/css" rel="stylesheet" />
</head>

<body>
  <h1 id="title">View Tasks</h1>
  {{ $Owner := .Owner }}
  <div id="user">{{ .Owner }}</div>
  {{ range $l := .Lists }}
  <div class="list">
    <h2>{{ $l.Title }}</h2>
    <ul>
      {{ range $t := $l.Tasks }}
      <li class="{{if $t.Completed}}finished{{end}} task">
        <h3>{{$t.Title}}</h3>
        <hr>
        <p>{{ if $t.Completed }}Was due{{ else }}Due on{{ end }} {{$t.DueDate}}</p>
        <hr>
        <p>{{ $t.Details }}</p>
        <hr>
        <ul class="options">
          <li>[<a href="/mark complete/{{ $Owner }}/{{ $l.Title }}/{{ $t.Title }}">mark {{ if $t.Completed }}im{{ end }}complete</a></li>-
          <!--<li><a href="/edit/{{ $Owner }}/{{ $l.Title }}/{{ $t.Title }}">edit</a></li>-->
          <li><a href="/delete/{{ $Owner }}/{{ $l.Title }}/{{ $t.Title }}">delete</a>]</li>
        </ul>
      </li>
      {{ end }}

      <form action="/add/{{ $Owner }}/{{ $l.Title }}" method="POST">
        <li class="add task">
          <div><input type=text maxLength=128 size=70 name=title placeholder="New Task" title="Task Title"></div>
          <div><input type=date name="due date" title="Due Date"></div>
          <div><textarea name=details rows="10"></textarea></div>
          <div><input type=submit value="Add Task"></div>
        </li>
      </form>
      <div class="listActions">
        <a href="/delete/{{ $Owner }}/{{ $l.Title }}">delete list</a>
      </div>
    </ul>
  </div>
  {{ end }}
  <form id="addList" action="/add/{{ $Owner }}/" method="POST">
    <div><input type=text maxLength=128 size=70 name="list title" placeholder="New List Title"></div>
    <div><input type=submit value="Add List"></div>
  </form>

</body>

</html>